<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pygments/github.css' %}">


</head>
<body>
{% block header %}
<div class="headbox">
    <a href="{% url 'blog:index' %}" class="logo">
        <em>{{ WebSiteInfo.WebSiteName }}</em>
    </a>
    <div class="bannerbtn">
        <a href="/">首页</a>
        <span></span>
        {% for category in category_list %}
            <a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>
            <span></span>
        {% endfor %}
        <a href="{% url 'blog:about' %}">关于</a>
        <div class="now-line"></div>
    </div>
    {% if request.user.username != "" %}
        <div class="registerlogin" >
            <a href="{% url 'blog:logout' %}"><span class="pc-register">退出</span></a>
            <a href="{% url 'blog:usercenter' %}"><span class="loginiocn">{{ request.user.username }}</span></a>
        </div>
    {% else %}
        <div class="registerlogin" >
            <a href="{% url 'blog:RegisterPage' %}"><span class="pc-register">注册</span></a>
            <a href="{% url 'blog:LoginPage' %}"><span class="loginiocn">登录</span></a>
            <div class="clear"></div>
        </div>
    {% endif %}
    <div class="clear"></div>
</div>
<div id="globalMessage" class="alert alert-warning" style="display: none;">
    <a href="#" class="close" onclick="closeGlobalMessage()">
        &times;
    </a>
    <strong>警告！</strong><span id="message" />
</div>  
{% endblock %}

<div id="container">
{% block content %}{% endblock %}
</div>

<div class="bottom">
    <div class="bottomboxd">
        <p>©2012&nbsp;&nbsp;北京XX有限公司&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;注册地址:北京&nbsp;&nbsp;联系电话:82736610</p>
        <p>
            <a target="_blank" href="" rel="nofollow">{{ WebSiteInfo.ICP }}</a>
            <a href="#" rel="nofollow" target="_blank">
                <img alt="备案" src="{% static 'blog/img/gongan.png' %}">京公网安备 111111111号
            </a>
        </p>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/jquery.cookie.js' %}"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function showGlobalMessage(message){
        $("#message").text(message);
        $("#globalMessage").show();
    }

    function closeGlobalMessage(){
        $("#message").text();
        $("#globalMessage").hide();
    }

    $(".bannerbtn a").click(function (){
        var left = $(this).css("left");
        $(".now-line").css("left", left);
        $.removeCookie('left');
        $.cookie("left", left, { expires: 1, path: '/' });
        return true;
    });

    $().ready(function (){
        var left = $.cookie('left');
        if(left == null){
            $.cookie("left", "0px", { expires: 1, path: '/' });
        }
        $(".now-line").css("left", left);
    });
</script>
</body>
</html>
