{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}
{% block header %}
<div class="pcheader">
	<div class="headerbox">
        <a href="{% url 'blog:index' %}" class="newyxklogo">
            <em>{{ WebSiteName }}</em>
        </a>
        <div class="bannerbtn">
            <a href="/">首页</a>
            <span></span>
            {% for category in category_list %}
                <a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>
                <span></span>
            {% endfor %}
            <a href="{% url 'blog:about' %}">关于</a>
            <div class="nw-line" style="display: none;"></div>
        </div>
	</div>
</div>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var pwdLength = 8;

        function keyDown(){
            var value= event.keyCode;
            if(value == 13){
                $("#mregister").click();
            }
        }

        function checkUserName(){
            var reg = /^[0-9a-zA-Z]+$/
            var str = $("#memUserId").val();
            if(!reg.test(str)){
                return false;
            }

            if(str.length <6 || str.length >12){
                return false;
            }

            return true;
        }

        function validateUserName(){
            var userError = $("#userError");
            if(!checkUserName($("#memUserId"))){
                $('#userMsg').text('用户名不能为空且为大于等于6位，小于等于12位的字母、数字组合');
                userError.show();
                $('#memUserValication').hide();
                return;
            }

            $.get("/ValidateUserName", { 'name': $("#memUserId").val() },
                function(data){
                    if(data != '1'){
                        $('#userMsg').text(data);
                        userError.show();
                        $('#memUserValication').hide();
                        return false;
                    }else{
                        $('#memUserValication').show();
                    }
                });
        }

        function changUserName(){
            if(checkUserName()){
                var userError = $("#userError")
                userError.hide()
            }
        }
    
        function changPsw() {
            var pswError = $("#pswError")
            if(($("#memPassword").val().length >= pwdLength) && ($("#memPassword").val().length <= 20)){
                pswError.hide()
                return true;
            }else{
                $("#pswMsg").text("密码长度必须大于：" + pwdLength + ", 小于： 20。");
                pswError.show();
                return false;
            }
        }

        function changPswConfirm() {
            if(!changPsw()){
                return false;
            }

            var pswConfirmError = $("#pswConfirmError")
            if($("#memPassword").val() == $("#password_confirm").val()){
                pswConfirmError.hide()
                return true;
            }else{
                $("#pswMsgConfirm").text("两次输入的密码不一致。");
                pswConfirmError.show();
                return false;
            }
        }

        function  VerifyRegister() {
            var userName = $("#memUserId");
            if(!checkUserName(userName))
            {
                userName.focus();
                var userError = $("#userError")
                $('#userMsg').text('用户名不能为空且为大于等于6位，小于等于12位的字母、数字组合');
                userError.show();
                return false;
            }

            if(changPswConfirm()){
                $("form").submit();
            }

            return false;
        }
    </script>
<link rel="stylesheet" href="{% static 'blog/css/login.css' %}">
<div class="center" style="height: 439px;" onkeydown="keyDown()">
    <div class="pc-centerbox">
        <div class="pc-cenboxleft">
            <img src="{% static 'blog/img/pc-leftppic.png' %}">
        </div>
        <div class="loginbox">
            <form name="loginForm" method="POST" action="{% url 'blog:register' %}">
                {% csrf_token %}
                <div class="userphoto" id="userphoto"><img src="{% static 'blog/img/user_default.svg' %}"></div>
                <div class="needtext">
                    <div class="input-id">
                        <span id="idnumber"></span>
                        <input type="text" id="memUserId" name="memUserId" value="" placeholder="6-12位字母、数字组合" onchange="changUserName()" onblur="validateUserName()">
                        <span id="memUserValication" style="color: green; display: none; background: none;">OK</span>
                        <div class="clear"></div>
                        <div class="tipsboxalert" id="userError" style="display: none;">
                            <em></em>
                            <p id="userMsg"></p>
                        </div>
                    </div>
                    <div class="input-pas">
                        <span id="idpass"></span>
                        <input type="password" id="memPassword" name="memPassword" placeholder="密码" onchange="changPsw()">
                        <div class="clear"></div>
                        <div class="tipsboxalert" id="pswError" style="display: none;">
                            <em></em>
                            <p id="pswMsg"></p>
                        </div>
                    </div>
                    <div class="input-pas">
                        <span id="idpass"></span>
                        <input type="password" id="password_confirm" name="password_confirm" placeholder="确认密码" onchange="changPswConfirm()">
                        <div class="clear"></div>
                        <div class="tipsboxalert" id="pswConfirmError" style="display: none;">
                            <em></em>
                            <p id="pswMsgConfirm"></p>
                        </div>
                    </div>
                    <input id="mregister" value="注册" class="tjbtn-login nodjsbtn" onclick="VerifyRegister()">
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}