{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'blog/css/user_center.css' %}">

<script type="text/javascript">

    // Press Enter in email textbox will trigger save event.
    function trySaveEmail(){
        var lKeyCode = (navigator.appname=="Netscape")?event.which:window.event.keyCode;
        if (lKeyCode == 13){
            saveEmail();
        }
    }

    function saveEmail(){
        var newEmail = $('#email').val();
        if(newEmail.indexOf('@') <= 0){
            $('#email').focus();
            $('#emailError').show();
            $('#emailMsg').text("邮箱地址不正确");
            return false;
        }
        
        $.get("/UpdateUserInfo", { 'email' : newEmail }, function(result){
                if(result != "1"){
                    $('#emailError').show();
                    $("#emailMsg").text(result);
                }else{
                    $('#EmailDisplay b').text(newEmail);
                    $('#EmailInput').hide();
                    $('#EmailDisplay').show();
                }
            });
    }

    function updateEmail(){
        $('#email').val($('#EmailDisplay b').text())
        $('#EmailInput').show();
        $('#EmailDisplay').hide();
    }
</script>

<div class="personalinfo">
	<div class="briefleftbox">
    	<div class="briefpic"><span><img src="{% static 'blog/img/default_user_big.jpg' %}"></span></div>
        <div class="briefwit">
        	<h4>
			{{ request.user.username }}			<span class="{{ request.userprofile.website_level }}"></span>
			</h4>
            <div>
                <a class="btn btn-success" href="{% url 'blog:NewArticle' %}">发布新文章</a>
            </div>
        </div>
    </div>
    <em></em>
    <div class="integralbox integralboxtop">
    	<ul> 
        	<li>我的邮箱：
                <div id="EmailInput" {% if base_info.email = "" %} 
                style="display: block;"
                {% else %}
                style="display: none;"
                {% endif %}
                >
                    <input id="email" type="email" placeholder="sample@test.com" onkeydown="trySaveEmail()" value="">
                    <a href="#" class="btn btn-danger btn-small" onclick="saveEmail()">保存</a>
                    <div class="tipsboxalert" id="emailError" style="display: none;">
                        <p id="emailMsg"></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="EmailDisplay" {% if base_info.email = "" %} 
                style="display: none;"
                {% else %}
                style="display: block;"
                {% endif %}>
                    <b>{{ base_info.email }}</b>
                    <a href="#" class="btn btn-danger btn-small" onclick="updateEmail()">修改</a>
                </div>
            </li>
            <li>最近登录：<b>{{ base_info.last_login }}</b></li>
            <li>我的消费：<b>{{ base_info }}</b></li>
            <li>我的头衔：<i>蜻蜓点水</i></li>
        </ul>
    </div>
    <em></em>
    <div class="integralbox integralboxtop">
    	<ul>
        	<li>我的上传：{{ uploaded_files | length }} 篇</li>
            <li>我的下载：{{ downloaded_files | length }} 篇</li>
            <li>我的收藏：<a href="#">{{ liked_articles | length }}</a> 篇</li>
            <li>我的转发：篇</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="personal">
    <div class="personalleft" id="personalleft" style="height: 514px;">
        <div class="listbox nav nav-tabs">
            <a href="#basic" class="on">基本信息</a>
            <a href="#upload" data-toggle="tab">我的上传：{{ uploaded_files | length }} 篇</a>
            <a href="#purchase" data-toggle="tab">我的购买：篇</a>
            <a href="#download" data-toggle="tab">我的下载：篇</a>
            <a href="#like" data-toggle="tab">我的收藏：{{ liked_articles | length }} 篇</a>
        </div>
    </div>
    <div class="personalright tab-content" id="personalright">
        <div class="tab-pane fade in active" id="upload">uploaduploaduploadupload
        </div>
        <div class="tab-pane fade" id="purchase">purchasepurchasepurchasepurchase
        </div>
        <div class="tab-pane fade" id="download">downloaddownloaddownloaddownload
        </div>
        <div class="tab-pane fade" id="like">likelikelikelikelike
        </div>
    </div>
    <div class="clear"></div>
</div>

{% endblock %}