{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<div class="personalinfo">
	<div class="briefleftbox">
    	<div class="briefpic"><span><img src="https://ucenter.cn-healthcare.com/static/images/photo_def_max.jpg"></span></div>
        <div class="briefwit">
        	<h4>
			{{ request.user.username }}			<span class="{{ request.userprofile.website_level }}"></span>
			</h4>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<p>基本信息</p>

<div class="personal">
    <div class="personalleft" id="personalleft" style="height: 514px;">
        <ul class="nav nav-pills nav-stacked">
		  <li class="active"><a href="#">>我的上传：篇</a></li>
		  <li><a href="#">我的下载：篇</a></li>
		  <li><a href="#">我的购买：篇</a></li>
		  <li><a href="#">我的收藏：篇</a></li>
		</ul>
    </div>
    <div class="personalright" id="personalright">

    </div>
    <div class="clear"></div>
</div>

{% endblock %}