{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/css/detail.css' %}">
<div id="main">
    <div id="detail-title">
        <ul id="single-nav">
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li>&gt;</li>
            <li>
                <ul class="post-categories">
                    <li><a href="" title=""
                            rel="category">{{ article.category.name }}</a>
                    </li>
                </ul>
            </li>
            <li>&gt;</li>
            <li class="title-active"><a href="{% url 'blog:detail' article.pk %}"
                                        rel="bookmark">{{ article.title }}</a>
                <input type="hidden" id="hid_article_id" value="{{ article.id }}">
                <input type="hidden" id="hid_article_like" value="{{ like }}">
            </li>
        </ul>
    </div>
    <div class="post">
        <div class="post-content">
            <h3>
                <a href="#" class="title">{{ article.title }}</a>
            </h3>
            <div class="date-read">
                <i class="icon-sprofile"></i><span
                    class="date">{{ article.user.username }}</span>
                <i class="icon-date"></i><span
                    class="date">{{ article.last_modified_time|date:"Y年n月d日" }}</span>
                <i class="icon-money"></i><span
                    class="date">{{ article.price }}</span>
                <i id="like_icon" onclick="LikeArticle()"></i><span id="like_count" class="date">{{ allLike }}</span>
            </div>
            <div class="post-kw">
                <p class="post-label">摘要</p>
                <p class="post-value">{{ article.abstract |safe | linebreaks}}</p>
                <div class="clear"></div>
            </div>
            <div class="post-kw">
                <p class="post-label">关键词</p>
                <p class="post-value">{{ article.keywords |safe }}</p>
                <div class="clear"></div>
            </div>
            <div class="post-kw">
                <p class="post-label">Key Words</p>
                <p class="post-value">{{ article.en_keywords |safe }}</p>
                <div class="clear"></div>
            </div>
            <div class="post-bd">
                <p>{{ article.body | safe | linebreaks}}</p>
            </div>
        </div>
        <div class="post-ft">
            <span>附件</span>
            <table class="table">
                <thead>
                    <tr>
                        <th>附件名</th>
                        <th>价格</th>
                        <th>购买次数</th>
                        <th>购买</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url 'blog:purchase' article.attachment.id %}">{{ article.attachment.name }}</a></td>
                        <th>{{ article.price }}</th>
                        <td>{{ article.attachment.download_times}}</td>
                        <td><span class="hovered"><a href="{% url 'blog:purchase' article.attachment.id %}">下载</a></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'blog/comment.html' %}
</div>

<script type="text/javascript">
    var liked = false;

    function ChangeStyle(like){
        if(like){
            if($("#like_icon").hasClass("icon-unlike")){
                $("#like_icon").removeClass("icon-unlike")
            }
            $("#like_icon").addClass("icon-like")
            $("#hid_article_like").val("true")
        }else{
            $("#like_icon").addClass("icon-unlike")
            if($("#like_icon").hasClass("icon-like")){
                $("#like_icon").removeClass("icon-like")
            }
            $("#hid_article_like").val("false")
        }
    }

    function LikeArticle(){
        var temp_like = liked;
        if(liked.toString() == "true"){
            temp_like = false;
        }else{
            temp_like = true;
        }
        $.get("/LikeArticle", { 'like': temp_like, 'article_id': $("#hid_article_id").val()},
            function(data){
                if(data != '1'){
                    $('#message').text("收藏失败！"+data);
                    $('#globalMessage').show();
                    return false;
                }else{
                    var count = parseInt($("#like_count").text());
                    liked = temp_like;
                    if(liked){
                        $("#like_count").text(count+1)
                    }else{
                        $("#like_count").text(count-1)
                    }
                    ChangeStyle(liked);
                    $('#globalMessage').hide();
                }
            });
    }

    window.onload = function(){
        var default_like = $("#hid_article_like").val().toLowerCase();
        if(default_like == "true"){
            liked = true;
        }else{
            liked = false;
        }
        ChangeStyle(liked);
    };
</script>

{% endblock %}
