{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="bd" class="wrp clear-fix">
                <div id="main">
                    {% load paginate_tags %}
                    {% paginate article_list 2 %}
                    {% for article in article_list %}
                        <div class="post">
                            <div class="post-hd">
                                <h1 class="title"><a
                                        href="{% url 'blog:detail' article.id %}">{{ article.title }}</a></h1>
                            </div>
                            <div class="post-bd">
                                <p>{{ article.abstract }}</p>
                                <p><a href="" class="more-link"></a></p>
                            </div>
                            <div class="post-ft">
                                <a href="{% url 'blog:detail' article.id %}" class="more">阅读全文>></a>
                                <i class="icon-date"></i>
                                <span class="date">{{ article.last_modified_time|date:"Y年n月d日" }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'blog/pagination.html' %}
                </div>
            </div>
        </div>
{% comment %}
        <div class="col-lg-3">
            <!-- tags -->
            <h3>标签:</h3>
            <div class="list-group">
                {% for tag in tag_list %}
                    <!--a href="{% url 'blog:tag' tag.pk %}" class="list-group-item"><span
                            class="badge">{{ tag.name }}</span></a-->
                    <a href="{% url 'blog:tag' tag.pk %}"><span
                            class="badge">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        </div>
{% endcomment %}
    </div>
</div>
{% endblock %}